DATABASE_URL=TU_URL_DE_POSTGRES #Como es asincrónica, debe empezar así: postgresql+asyncpgtambien es necesario borrar sslmode de la url.
JWT_KEY=TU_JWT_KEY

# MinIO

MINIO_PUBLIC_URL=minio:9000
MINIO_PUBLIC_ACCESS_KEY=TU_PUBLIC_ACCESS_KEY_MINIO
MINIO_PUBLIC_SECRET_KEY=TU_PUBLIC_SECRET_KEY_MINIO
MINIO_PUBLIC_URL_SIGN_FILES=TU_IP_HOST_DE_MINIO:PUERTO
# Kafka

KAFKA_URL=broker:9093

# Ollama

OLLAMA_MODEL=MODELO_OLLAMA
OLLAMA_IP=http://localhost:11434/api/generate
OLLAMA_IP_DOCKER=http://ollama:11434/api/generate

# DB

MONGO_URL=mongodb://mongodb:27017

MERCADO_PAGO_ACCESS_TOKEN=
APP_API_URL=http://127.0.0.1:7080

ADMIN_API=http://api-minio-admin:9999/
API_GATEWAY_URL="http://api_gateway:7080/"
ADMIN_API_NO_BACKSLASH=http://api-minio-admin:9999
SECURE=False


TTS_RVC_IMAGE=ghcr.io/reels-automation/tts-rvc:main 
#Como la imagen tarda mucho en descargar, se puede buildear localmente y poner : tts-rvc-tts-rvc (o el nombre con el que se la haya buildeado)
